

* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: #fff9f4;
}

.galeri-section {
    padding: 60px 20px;
    text-align: center;
    margin: 5%;
    margin-top: 40px;
}

.galeri-section .label {
    font-family: 'IBM Plex Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #ED1B24;
}

.title {
    font-family: 'IBM Plex Sans JP', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description {
    font-size: 1.1rem;
    color: #444444;
    margin-bottom: 40px;
    margin: 15px;
    margin-bottom: 50px;
    font-weight: 600;
}

.galeri-grid{
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.galeri-item{
    position: relative;
    border: solid 1px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.galeri-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,0.5) 70%, transparent 100%);
    pointer-events: none;
    z-index: 1;
}

.galeri-item img{
    width: 100%;
    aspect-ratio: 7/4;
    object-fit: cover;
}

.galeri-item .caption{
    bottom: 0;
    position: absolute;
    color: #fff9f4;
    z-index: 2;
    margin-bottom: 35px;
    margin-left: 5%;
    font-size: 1.1rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .galeri-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
    }
    .galeri-section {
        margin: 40px auto;
        width: 70%;
        min-width: 768px;
    }
}