.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 70px 8%;
  text-align: left;
}

.hero-bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: visible;
}

.bg-map{
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  object-fit: cover;

  z-index: -1;
  overflow:visible;
}

.bg-ornament-mobile {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;

  z-index: -2;
  overflow: hidden;
}

.bg-ornament {
  display: none;
}

.hero-content {
  display: contents;
}

h3, h1, .hero-content p {
  order: 1;
  text-align: left;
  width: 100%;
}

.hero h1 {
  font-size: 2.5rem;
}


.btn-primary {
  background-color: #ED1B24;
  color: white;
  text-decoration: none;
  padding: 10px 24px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 0.95rem;

  display: inline-flex;
  align-items: center;
  gap: 10px;

  transition: 0.3s;
}

.btn-primary i {
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: #b91c1c;
  transform: scale(1.05);
}

.btn-secondary {
  background-color: white;
  color: #444444;
  text-decoration: none;
  padding: 10px 24px;
  border-radius: 50px;
  border: 1px solid #444444;
  font-weight: 700; 
  font-size: 0.95rem;

  display: inline-flex;
  align-items: center;
  gap: 10px;

  transition: 0.3s;
}

.btn-secondary i {
  color: #ED1B24;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: right;
  justify-content: right;
  font-size: 1rem;
}

.btn-secondary:hover {
  background-color: #F2F7FF;
  transform: scale(1.05);
}

.sakura-icons {
  padding: 0 0 0 1%;
}

.hero-gallery{
  display: flex;
  gap: 15px;
  align-items: stretch;
  width: 100%;
  order: 2;
  margin: 30px 0;
}

.img-large {
  flex: 0 0 45%;
  max-width: 280px;
}

.img-large img{
  height: 100%;
  max-height: 475px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.img-stack {
  flex: 0 0 55%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.img-stack img{
  width: 100%;
  height: calc(50% - 7.5px);
  object-fit: cover;
  border-radius: 25px;
}

.hero-cta-group {
  order: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hero-buttons {
  display: flex;
  padding: 5% 0 1.5% 0;
  flex-direction: column;
  padding: 0 20px;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  text-align: justify;
}

.about-label {
  font-size: 1.1rem;
  font-weight: 700;
}

.about-title {
  font-size : 1.5rem;
}

.about-container {
  display: contents;
}

.about-video {
    width: fill;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    outline: none;
}
.about-content {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.benefits-card {
  background-color: white;
  padding: 20px 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 3px rgba(0,0,0,0.3);
  font-weight: 800;
}

.about-benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
  margin-top: 30px;
}

.program{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  text-align: center;
}

.program-content{
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.programs{
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 2%;
  width: 80%;
  margin-top: 10px;
}

.program-card{
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 3px rgba(0,0,0,0.3);
}

.btn-prgm{
  margin-top: 20px;
  background-color: #ED1B24;
  color: white;
  text-decoration: none;
  padding: 14px 0;
  border-radius: 15px;
  font-weight: 700;
  font-size: 0.95rem;

  display: flex;
  width: 100%;
  justify-content: center;

  transition: 0.3s;
}


.program-card p{
  margin-top: 2%;
  text-align: justify;
}

.program h3{
  margin-top: 2%;
  text-align: center;
  font-size: 1.3rem;
}
.program h2{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
}
.program h5{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
@media(min-width: 768px) {

  .hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 80px 8%;
  }

  .bg-map{
    position: absolute;
    top: 50%;
    left: unset;
    transform: translateY(-50%);
    right: -10%;
    width: 75%;
    height: auto;
  
    object-fit: contain;
  
    z-index: -1;
  }
  .bg-ornament-mobile{
    display: none;
  }
  .bg-ornament {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    z-index: -2;
    overflow: visible;
  }
  
    .hero-gallery {
    display: flex;
    gap: 15px;
    align-items: stretch;
    width: 100%;
    max-width: 650px;
    max-height: 475px;
  }
  
  .hero-cta-group{
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }
  
  .hero-buttons {
    flex-direction: row;
    display: flex;
    width: auto;
    padding: 5% 0 1.5% 0;
    gap: 2%;
  }
  .hero-content{
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .hero-content h1{
    font-size: 3rem;
  }
  
  .hero-content h3{
    font-size: 1.3rem;
  }

  .about {
    flex-direction:row ;
    gap: 5%;
  }

  .about-content{
    max-width: 45%;
  }

  .benefits-card{
    flex-direction: row;
    text-align: left;
    gap: 3%;
  }
}