.hero {
  display: flex;
  flex-direction: column;
}


.hero-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-img {
  padding-top: 37px;
}

.hero-img img {
  display: block;
  margin: auto;
  width: 388px;
  height: 256px;
}